In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('boston.csv')
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7

In [5]:
input_data = dataset.drop(columns = ['MEDV']) # or .iloc[:,:-1]
output_data = dataset['MEDV']

In [6]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size = 0.25 )

In [10]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
298,0.06466,70.0,2.24,0,0.400,6.345,20.1,7.8278,5,358.0,14.8,368.24,4.97
352,0.07244,60.0,1.69,0,0.411,5.884,18.5,10.7103,4,411.0,18.3,392.33,7.79
189,0.08370,45.0,3.44,0,0.437,7.185,38.9,4.5667,5,398.0,15.2,396.90,5.39
430,8.49213,0.0,18.10,0,0.584,6.348,86.1,2.0527,24,666.0,20.2,83.45,17.64
30,1.13081,0.0,8.14,0,0.538,5.713,94.1,4.2330,4,307.0,21.0,360.17,22.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358.0,14.8,390.86,6.07
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391.0,19.2,396.90,14.33
390,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666.0,20.2,394.43,17.11
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307.0,21.0,386.85,6.58
312,0.26169,0.0,9.90,0,0.544,6.023,90.4,2.8340,4,304.0,18.4,396.30,11.72

In [12]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
376,15.28800,0.0,18.10,0,0.6710,6.649,93.3,1.3449,24,666.0,20.2,363.02,23.24
448,9.32909,0.0,18.10,0,0.7130,6.185,98.7,2.2616,24,666.0,20.2,396.90,18.13
201,0.03445,82.5,2.03,0,0.4150,6.162,38.4,6.2700,2,348.0,14.7,393.77,7.43
167,1.80028,0.0,19.58,0,0.6050,5.877,79.2,2.4259,5,403.0,14.7,227.61,12.14
491,0.10574,0.0,27.74,0,0.6090,5.983,98.8,1.8681,4,711.0,20.1,390.11,18.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216.0,14.9,387.31,3.76
113,0.22212,0.0,10.01,0,0.5470,6.092,95.4,2.5480,6,432.0,17.8,396.90,17.09
479,14.33370,0.0,18.10,0,0.6140,6.229,88.0,1.9512,24,666.0,20.2,383.32,13.11
157,1.22358,0.0,19.58,0,0.6050,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59
32,1.38799,0.0,8.14,0,0.5380,5.950,82.0,3.9900,4,307.0,21.0,232.60,27.71